body {
  padding:0;
  font-family: 'Raleway', sans-serif;
}

.box {
	cursor:pointer;
}


rect {
	fill: rgba(0, 0, 0, 0);
	stroke: #898181;
	stroke-width: 3;
}

#saveButton {
	position:fixed;
}

.name {
	font-size:12px;
}

#sidebar {
	position: fixed;
	right: 0;
	background: #A9A9A9;
	width: 300px;
	top: 0;
	padding: 20px;
	min-height: 500px;
}